{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Used Code Institutes template and adjusted the content -->

<div class="container-user">
    <h3>{% trans "Sign In" %}</h3>

    {% blocktrans %}Hello there! Long time no see, in order to leave a comment or like a post, please log in.
        <hr>
        <p>If you have not created an account yet, then <span><a class="link" href="{{ signup_url }}" aria-label="Redirects user to the sign-up page">sign up</a></span>
            first.</p>
        <hr>
        {% endblocktrans %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right btn-outline-light" type="submit" aria-label="Submit login data">{% trans "Sign In" %}</button>
    </form>
</div>
{% endblock %}