*, ::after, ::before {
  box-sizing: content-box;
}

main{
    padding-top: 70px;
    padding-bottom: 56px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.li-paddding-r {
    display:none;
}

.footer-bg{
    background-color: #6c757d;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

#navbar-fw {
    text-align: right;
}

.post-link, .text-dark {
  text-decoration: none;
}

.smaller-heading {
  font-size: 1.4rem;
}


.cards-section {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-count: auto;
  column-gap: 2px;
}

.card-container {
  width: 320px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/** Card styles 
used this design: https://codepen.io/creativemanner/pen/NWrNWrd
**/

.card-img-top{
    width: 250px;
    max-height: 175px;
}

.card{
    border:solid 2px rgba(51, 48, 48, 0.727);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    min-height:400px;
    width: 300px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

  
   &.card-has-bg{
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size:120%;
    background-repeat:no-repeat;
    background-position: center center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);}
  
    &:hover {
      transform: scale(0.98);
       box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
      background-size:130%;
       transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  
      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: #6c757d;
       background: linear-gradient(0deg, rgba(83, 120, 152,0.5) 0%, rgba(26, 39, 50, 0.903) 100%);
       }
    }
  }
   .card-footer{
    background: none;
     border-top: none;
   }
    .card-title{font-weight:800}
   .card-meta{color:rgba(0,0,0,0.5);
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:2px;
    }
   .card-body{ 
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      size: 90%;
  
    }
   &:hover {
     .card-body{
       margin-top:30px;
       transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
     }
   transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
   .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   background: #6c757d;
  background: linear-gradient(0deg, rgba(83, 120, 152,0.5) 0%, rgba(108,117,125,1) 100%);
  }
  }
  
  @media (min-width: 430px) {

  }


  @media (min-width: 750px) {

  }

@media (min-width: 992px) {

  }



@media (min-width: 992px) {
    #li-paddding-r {
        padding-right: 10px;
    }
    
    #label-fw {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    #navbar-fw {
        font-family: Lato, sans-serif;
        font-size: 1.25rem;
        font-weight: 500;

    }
    .footer-bg{
        padding: 0px 50px;
        font-size: 1.1rem;
    }
  }


@media (min-width: 1020px) {
  .li-paddding-r {
      display:unset;
      font-weight: 800;
      padding-right: 10px;
  }
}