{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Unauthorized to delete Build Post
used Tutorial: https://www.youtube.com/watch?v=nFa3lC105dM&list=PLXuTq6OsqZjbCSfiLNb2f1FOs8viArjWy&index=13-->

<div class="container-user text-align">
    <h1>403 - Unauthorized Access</h1>
    <br>
    <div>
        <p>You're not authorized to perform this action</p>
        <a href="{% url 'home' %}" class="btn btn-outline-light" aria-label="Redirects user to the landing page">Return home</a>
    </div>
    <br>
</div>

{%endblock%}