{% load static %}

{% url 'home' as home_url %}
{% url 'search_build_tags' as search_build_tags_url %}
{% url 'create_build_post' as create_build_post_url %}
{% url 'future_content' as future_content_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Build your dream</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A website where one can upload a computer build and comment on them">
    <meta name="keywords"
        content="pc, build, pc-build, computer, social, tips, community">
    <meta name="author" content="N.D.">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Use alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>

    <!-- Use jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <!-- Use JQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">


</head>

<body class="d-flex flex-column h-100 main-bg text-white bg-dark">

    <main>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark text-white" id="header-bg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><span id="label-fw">build your dream</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2" id="navbar-fw">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                                href="/" aria-label="Redirects user to the landing page">Home</a>
                        </li>
                        <!-- Form for search bar
                Used the following tutorial:  https://www.youtube.com/watch?v=LsU79aY79UA&list=PLXuTq6OsqZjbCSfiLNb2f1FOs8viArjWy&index=15
                -->
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == search_build_tags_url %}active{% endif %}"
                                aria-current="page" href="/search/" aria-label="Redirects user to the search via tags page">Search via tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == create_build_post_url %}active{% endif %}"
                                aria-current="page" href="/createbuildpost/" aria-label="Redirects user to the Create Build Post page">Upload your build!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == future_content_url %}active{% endif %}"
                                aria-current="page" href="/future-content/" aria-label="Redirects user to the future-content page">Future Content</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_logout' %}"><span
                                    class="font-weight-bolder li-paddding-r" aria-label="Redirects user to the logout page">|</span> Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_signup' %}"><span
                                    class="font-weight-bolder li-paddding-r" aria-label="Redirects user to the sign-up page">|</span> Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_login' %}" aria-label="Redirects user to the login page">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- displaying Django messages, used from Code Insitute's template-->
        <div class="message-container">
            <div class="message-content ">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show container-border alert-light" id="msg"
                    role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="flex-shrink-0 main-bg mb-5">

            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer mt-auto py-3 fixed-bottom footer-bg">
        <p class="m-0 text-center ">Project 4 by Xakkusu</p>
        <p class="m-0 text-center text-white">Follow us:
            <a href="https://twitter.com/" target="_blank" rel="noopener"
                aria-label="Opens in a new tab for Twitter.com">
                <i class="fab fa-twitter-square ms-3"></i>
            </a>
            <a href="https://instagram.com/" target="_blank" rel="noopener"
                aria-label="Opens in a new tab for Instagram.com">
                <i class="fab fa-instagram-square ms-3"></i>
            </a>
            <a href="https://github.com/Xakkusu/p4-build-your-dream" target="_blank" rel="noopener"
                aria-label="Opens in a new tab for my Githgub.com">
                <i class="fab fa-github-square ms-3"></i>
            </a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="/static/js/datepicker.js"></script>
    {% block extras %}
    {% endblock %}
</body>

</html>