{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<!--Create Build Post Form based on code institue template-->
<div>
    <div class="search-heading m-3">
        <h1>Create your very own build Post</h1>
    </div>
    <hr>
    <div class="user-status">
        {% if user.is_authenticated %}
        {% else %}
        <p class="text-center">You need be be logged in to create a post, don't have an account yet? Get <a class="link"
                aria-label="Redirects user to the sign-up page" href="{% url 'account_signup' %}">signed up</a>!</p>
        <hr>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="form-container">
        <form method="post" enctype="multipart/form-data" class="form-center">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light max-btn" aria-label="Create build post">Create your build
                post</button>
        </form>
    </div>
    {% endif %}
</div>

{%endblock%}