{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<!--Add Build Form based on code institue template-->
<div>
    <div class="search-heading m-3">
        <h1>Let's edit your build post</h1>
    </div>
    <hr>
    <div class="user-status">
        {% if user.is_authenticated %}
        {% else %}
        <p class="text-center">You need be be logged in to edit your post, login <a class="link"
                aria-current="" href="{% url 'account_login' %}">here</a>!</p>
        <hr>
        {% endif %}
    </div>
        {% if user.is_authenticated %}
        <div class="form-container">
            <form method="post" enctype="multipart/form-data" class="form-center">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light max-btn">Edit your build</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}