{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!-- Tags for being able to search through the tags & filter stuff
used Tutorial & code from this Video: https://www.youtube.com/watch?v=213swbH8j_o 

Tailwind also has styling for cards, if I don't find anything appealing wwith bootstraps etc for eg the cards later on I will use Tailwwind

-->
<div class="m-5">
    <h1>Builds list</h1>
    <span><a href="{% url 'search_build_tags' %}" class="post-link">
        <p>Search builds via tags</p>
    </a></span>
    <br/>

    <span><a href="{% url 'create_build_post' %}" class="post-link">
        <p>Create build post</p>
    </a></span>
    {% for build in builds %}
    <div>
        <a href="{% url 'show_build_post' build.slug %}" class="post-link">
            <div class="image-container">
                {% if "placeholder" in build.image_of_build.url %}
                <img class="card-img-top" src="{% static 'images/default-pc-build.webp' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ build.image_of_build.url }}" alt="{{ build.image_alt }}">
                {% endif %}
            </div>
            <h2>{{build.build_title}}</h2>
            <p>Author: {{build.build_author}}</p>
            <small>{% for tag in build.tags.all %}
                {{ tag }},
                {% endfor %}
            </small>
        </a>
    </div>
    {% endfor %}
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}