{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<!---  -->
<div>
    <!--- Banner section with hero image -->
    <section class="banner">
        <div class="hero-img">
            <div class="intro-text">
                <h1>Welcome to build your dream!</h1>
                <p>Here you can upload your pc build and look at other builds for feedback <br>
                    Be mindful, be willing to learn and most of all enjoy the builds!</p>
            </div>
            <div class="community">
                {% if user.is_authenticated %}
                {% else %}
                <p>Want to become part of our community?</p>
                <div class="community-buttons">
                    <a class="btn btn-secondary" aria-label="Redirects user to the sign-up page"
                        href="{% url 'account_signup' %}">Sign Up</a>
                    <a class="btn btn-secondary" aria-label="Redirects user to the login page"
                        href="{% url 'account_login' %}">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="manage-div">
            <span><a href="{% url 'search_build_tags' %}" class="post-link btn btn-outline-light"
                    aria-label="Search post via tags">
                    Search builds via tags
                </a></span>
            <span><a href="{% url 'create_build_post' %}" class="post-link btn btn-outline-light"
                    aria-label="Create post">
                    Create build post
                </a></span>
        </div>
    </section>

    <!--Build Post Cards -- used this design: https://codepen.io/creativemanner/pen/NWrNWrd-->
    <section class="cards-section">
        {% for build in builds %}
        <div class="card-container">

            <div class="card text-dark card-has-bg click-col">
                <a href="{% url 'show_build_post' build.slug %}" class="post-link"
                    aria-label="Redirects user to the post">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <!-- Tags for being able to search through the tags & filter stuff used Tutorial & code from this Video: https://www.youtube.com/watch?v=213swbH8j_o  -->
                            <small class="card-meta mb-2">
                                {% for tag in build.tags.all %}
                                {{ tag }}
                                {% endfor %}
                            </small>
                            {% if "placeholder" in build.image_of_build.url %}
                            <img class="card-img-top" src="{% static 'images/default-pc-build.webp' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="card-img-top" src=" {{ build.image_of_build.url }}" alt="{{ build.image_alt }}">
                            {% endif %}
                            <h4 class="card-title mt-0 "><a class="text-dark smaller-heading"
                                    href="{% url 'show_build_post' build.slug %}">{{build.build_title}}</a></h4>
                            <small><i class="far fa-clock"></i> {{build.created_on}} | by {{build.build_author}}</small>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="my-0 text-dark d-block">
                                        <p><strong>{{build.liked.all.count}} </strong><i class="far fa-heart"></i></p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        {% endfor %}
    </section>
</div>


<section class="pagination-section">
    <!-- Pagination used this for help with the code:  https://stackoverflow.com/questions/74615456/how-to-add-pagination-in-django -->
    <div class="pagination">
        <span class="step-links">
            {% if builds.has_previous %}
            <a href="?page=1" class="link" aria-label="Redirects user to the first page">&laquo; first</a>
            <a href="?page={{ builds.previous_page_number }}" class="link"
                aria-label="Redirects user to the previous page">previous</a>
            {% endif %}

            <span class="current">
                Page {{ builds.number }} of {{ builds.paginator.num_pages }}.
            </span>

            {% if builds.has_next %}
            <a href="?page={{ builds.next_page_number }}" class="link"
                aria-label="Redirects user to the next page">next</a>
            <a href="?page={{ builds.paginator.num_pages }}" class="link"
                aria-label="Redirects user to the last page">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
<!-- index.html content ends here -->
{% endblock %}