{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- search build content -->
<!-- Tags for being able to search through the tags & filter stuff used Tutorial & code from this Video: https://www.youtube.com/watch?v=213swbH8j_o  -->
<div class="m-3" x-data="{tag : 'ALL', builds: []}" x-init="builds = await (await fetch('/build-list')).json()">
    <div class="search-heading">
        <h1>Builds list</h1>
        <a href="{% url 'create_build_post' %}" class="btn btn-outline-light create-btn" aria-label="Create build post">
            Create build post
        </a>
    </div>
    <div class="flex items-center">
        <div class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg" role="group">
            <button type="button" aria-label="All tags" class="btn btn-secondary inline-block tag-btn"
                @click="tag = $el.textContent">ALL</button>
            {% for tag in tags %}
            <button type="button" aria-label="Searcch via {{ tag.name }}" class="btn btn-secondary inline-block tag-btn"
                @click="tag = $el.textContent">{{ tag.name }}</button>
            {% endfor %}
        </div>
    </div>
    <br />
    <template x-for="build in builds.filter(f => tag === 'ALL' || f.tags.includes(tag))">
        <div class="tag-content">
            <a x-bind:href="build.slug" class="link" aria-label="Redirects user to post">
                <h2 x-text="build.build_title"></h2>
                <small x-text="build.tags.join(' ')"></small>
            </a>
        </div>
    </template>
</div>
<!-- search build content ends here -->
{% endblock %}