{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ build.build_title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">From: {{ build.build_author }} | created: {{ build.created_on }} | last
                    updated: {{ build.updated_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <div class="image-container">
                    {% if "placeholder" in build.image_of_build.url %}
                    <img class="card-img-top" src="{% static 'images/default-pc-build.webp' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ build.image_of_build.url }}" alt="{{ build.image_alt }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ build.build_description | safe}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    Total amount spent on build: €{{ build.money_spent}}
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Finished on: {{ build.year_build }}
                </p>
            </div>
        </div>
    </div>
    <!-- Delete & Edit Buttons -->
    {% if user.is_authenticated and build.build_author == user %}
    <span>
        <a href="{% url 'edit_build_post' build.id %}" class="btn btn-primary w-25">Edit this post</a>
    </span>
    <span>
        <a href="{% url 'delete_build_post' build.id %}" class="btn btn-primary w-25">Delete this post</a>
    </span>
    {% endif %}
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
          {% if not comment.comment_status == 2 and comment.author == user %}
          faded{% elif not comment.comment_status == 2 %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.comment_author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.comment_title | linebreaks }}
                        {{ comment.comment_body | linebreaks }}
                    </div>
                    {% if not comment.comment_status == 2 and comment.comment_author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and request.user == comment.comment_author %}
                    <button class="btn btn-edit btn-outline-dark" data-comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-delete btn-outline-dark" data-comment_id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!--Create Comment Form-->
        <div class="container">
            <h1>Add your comment to this build post</h1>
            <br>
            <div class="row justify-content-center ">
                {% if user.is_authenticated %}
                <div class="col-11 col-md-8 col-lg-6 mt-3">
                    <form id="commentForm" method="post" enctype="multipart/form-data">
                        {{ create_comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" id="submitButton" class="btn btn-outline-dark">Create your
                            comment</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}