{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Show build content -->
<section class="page-section">
    <div class="content-container">
        <!-- Build Post -->
        <div class="build-post-container">
            <div class="masthead-text">
                <h1 class="title-styling">{{ build.build_title }}</h1>
                <p class="content-subtitle">From: {{ build.build_author }} | created: {{ build.created_on }} | last
                    updated: {{ build.updated_on }}</p>
            </div>
            <div class="build-image-container">
                {% if "placeholder" in build.image_of_build.url %}
                <img class="build-image" src="{% static 'images/default-pc-build.webp' %}" alt="placeholder image">
                {% else %}
                <img class="build-image" src=" {{ build.image_of_build.url }}" alt="{{ build.image_alt }}">
                {% endif %}
            </div>
            <div class="build-description-container">
                <div class="description">
                    <p>
                        {{ build.build_description | safe}}
                    </p>
                </div>
            </div>
            <div class="info-build-container">
                <div class="money-spent">
                    <p class="spread-content">
                        Total amount spent: <span class="info-content">€{{ build.money_spent}}</span>
                    </p>
                </div>
                <div class="when-build">
                    <p class="spread-content">
                        Finished on: <span class="info-content">{{ build.year_build }}</span>
                    </p>
                </div>

                <!-- Like Button -->
                <div class="like-container">
                    {% if user.is_authenticated %}
                    <form action="{% url 'like_build_post' build.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="buildpost_id" value="{{build.slug}}"
                            class="btn btn-like text-white" aria-label="Unlike the post"><i class="fas fa-heart heart-like"></i></button>
                        <span><strong class="like-counter-btn">{{build.liked.all.count}}</strong></span>
                        {% else %}
                        <button type="submit" name="buildpost_id" value="{{build.slug}}"
                            class="btn btn-like text-white" aria-label="Like the post">
                            <i class="far fa-heart heart-like"></i></button>
                        <span><strong class="like-counter-btn">{{build.liked.all.count}}</strong></span>
                        {% endif %}
                    </form>
                    {% else %}
                    <i class="far fa-heart heart-like"></i><strong
                        class="like-counter">{{build.liked.all.count}}</strong>
                    <span id="user-hint"><a href="{% url 'account_login' %}" class="link" aria-label="Redirects user to the login page">Login</a> or <a
                            href="{% url 'account_signup' %}" class="link" aria-label="Redirects user to the sign-up page">sign up</a> to like this post</span>
                    {% endif %}
                </div>
                <!-- Delete & Edit Buttons -->
                {% if user.is_authenticated and build.build_author == user %}
                <div><span>
                        <a href="{% url 'edit_build_post' build.id %}" class="btn btn-warning" aria-label="Edit post">Edit this post</a>
                    </span>
                    <span>
                        <a href="{% url 'delete_build_post' build.id %}" class="btn btn-danger" aria-label="Delete post">Delete this
                            post</a>
                    </span></div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="comment-container">
            <!-- Displaying Comments -->
            <div class="comment-info">
                <div class="comment-heading">
                    <h3>Comments</h3>
                    <!-- Displaying count of comments -->
                    <div class="comment-counts text-white">
                        <p class="">
                            <i class="far fa-comments"></i> {{ comment_count }}
                        </p>
                    </div>
                </div>
            </div>
            <!--Create Comment Form-->
            <div class="container comment-form-container p-2">
                <h4>Add your comment to this build post</h4>
                {% if user.is_authenticated %}
                <p>Give your opinion on this build</p>
                <div class="col-11 col-md-8 col-lg-6 mt-3 comment-form">
                    <form id="commentForm" method="post" enctype="multipart/form-data">
                        {{ create_comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" id="submitButton" class="btn btn-outline-light" aria-label="Create comment">Create your
                            comment</button>
                    </form> 
                </div>
                {% else %}
                <p class="">You need be be <a href="{% url 'account_login' %}" class="link" aria-label="Redirects user to the login page">logged in</a> to create a comment, don't
                    have an account yet? Get <a  aria-label="Redirects user to the sign-up page" href="{% url 'account_signup' %}" class="link">signed
                        up</a>!</p>
                {% endif %}
            </div>
            <!-- show comments -->
            <div class="comments-div">
                {% for comment in comments %}
                <div
                    class="p-2 commented-container
                {% if not comment.approved and comment.comment_author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="comment-content">
                        {{ comment.comment_author }}
                        <span class="">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div class="comment-body" id="comment{{ comment.id }}">
                        {{ comment.comment_body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.comment_author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and request.user == comment.comment_author %}
                    <button class="btn btn-edit btn-warning" data-comment_id="{{ comment.id }}" aria-label="Edit comment">Edit</button>
                    <button class="btn btn-delete btn-danger" data-comment_id="{{ comment.id }}" aria-label="Delete comment">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    <a id="deleteConfirm" href="#" class="btn
                    btn-danger" aria-label="confirm delete comment">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- show build content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}