{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="show-build">
    <div class="build-container">
        <div class="build-post-container">
            <div class="col-md-8 masthead-text">
                <h1 class="post-title">{{ build.build_title }}</h1>
                <p class="post-subtitle">From: {{ build.build_author }} | created: {{ build.created_on }} | last
                    updated: {{ build.updated_on }}</p>
            </div>
            <div class="build-image-container">
                {% if "placeholder" in build.image_of_build.url %}
                <img class="build-image" src="{% static 'images/default-pc-build.webp' %}" alt="placeholder image">
                {% else %}
                <img class="build-image" src=" {{ build.image_of_build.url }}" alt="{{ build.image_alt }}">
                {% endif %}
            </div>
            <div class="build-description-container">
                <div class="card-body">
                    <p class="card-text">
                        {{ build.build_description | safe}}
                    </p>
                </div>
            </div>
            <div class="info-build-container">
                <div class="money-spent">
                    <p class="card-text">
                        Total amount spent on build: €{{ build.money_spent}}
                    </p>
                </div>
                <div class="when-build">
                    <p class="card-text">
                        Finished on: {{ build.year_build }}
                    </p>
                </div>

                <!-- Like Button -->
                <div>
                    {% if user.is_authenticated %}
                    <form action="{% url 'like_build_post' build.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="buildpost_id" value="{{build.slug}}" class="btn">Unlike</button>
                        {% else %}
                        <button type="submit" name="buildpost_id" value="{{build.slug}}" class="btn"
                            type="submit">Like</button>
                        {% endif %}
                    </form>
                    {% endif %}
                    <strong>{{build.liked.all.count}} <i class="far fa-heart"></i></strong>
                </div>
                <!-- Delete & Edit Buttons -->
                {% if user.is_authenticated and build.build_author == user %}
                <div><span>
                        <a href="{% url 'edit_build_post' build.id %}" class="btn btn-primary w-25">Edit this post</a>
                    </span>
                    <span>
                        <a href="{% url 'delete_build_post' build.id %}" class="btn btn-primary w-25">Delete this
                            post</a>
                    </span></div>
                {% endif %}
            </div>
            <!-- Displaying count of comments -->
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
            </div>
        </div>
        <hr>
        <div class="comment-container">
            <!-- Displaying Comments -->
            <div class="comment-info">
                <h3>Comments</h3>
                <p>Some thoughts about this build:</p>
            </div>
            <div class="comments">
                {% for comment in comments %}
                <div
                    class="p-2 comments
                {% if not comment.approved and comment.comment_author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.comment_author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.comment_body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.comment_author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and request.user == comment.comment_author %}
                    <button class="btn btn-edit btn-outline-light" data-comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-delete btn-outline-light" data-comment_id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!--Create Comment Form-->
        <div class="container">
            <h3>Add your comment to this build post</h3>
            {% if user.is_authenticated %}
            <p>Give your opinion on this build:</p>
            {% else %}
            <p class="text-end m-3">You need be be logged in to create a comment, don't have an account yet? Get <a
                    class="{% if request.path == signup_url %}active" aria-current="page{% endif %}"
                    href="{% url 'account_signup' %}">signed up</a>!</p>
            {% endif %}
            <br>
            <div class="row justify-content-center ">
                {% if user.is_authenticated %}
                <div class="col-11 col-md-8 col-lg-6 mt-3">
                    <form id="commentForm" method="post" enctype="multipart/form-data">
                        {{ create_comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" id="submitButton" class="btn btn-outline-dark">Create your
                            comment</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}