{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- future_content.html content starts here -->
<section class="page-section">
    <div class="content-container">
        <div class="request-container">
            <div class="masthead-text">
                <h1 class="title-styling">What possible content would you like to see from us?</h1>
                <p class="content-subtitle">Do you have any iddeas how we could improve this website? Then let us know!
                </p>
                <p class="content-subtitle">We will publish your request here if we will implement it. If you like to
                    stay
                    anonymous, just write in your text that you don't want your request to be published, then we just
                    let you know via mail that we will implement it.</p>
                <hr>
                <div class="user-status">
                    {% if user.is_authenticated %}
                    {% else %}
                    <p class="text-center">You need be be logged in to create a post, don't have an account yet? Get <a
                            class="link"  aria-label="Redirects user to the sign-up page" href="{% url 'account_signup' %}">signed up</a>!</p>
                    <hr>
                    {% endif %}
                </div>
                <br>
                <!--Create future content request Form-->
                <div class="row justify-content-center ">
                    {% if user.is_authenticated %}
                    <div class="col-11 col-md-8 col-lg-6 mt-3 mb-5">
                        <form method="post" enctype="multipart/form-data">
                            {{ future_content_request_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light"  aria-label="Submit request">Send your request</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Displaying count of requests -->
            <div class="request-container">
                <!-- Displaying reuqests -->
                <div class="request-info">
                    <div class="request-heading">
                        <h3>To be implemented</h3>
                        <!-- Displaying count of requests -->
                        <div class="request-counts text-white">
                            <p class="">
                                <i class="fas fa-database"></i> {{ future_content_request_count }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Displaying approved requests -->
                <div class="reuqest-div">
                    {% for implementedRequest in future_content_request %}
                    <div class="p-2 requestes-container">
                        <p class="request-content">
                            Request by: {{implementedRequest.future_content_author}} |
                            <span class="">
                                Made on: {{implementedRequest.created_on}}
                            </span>
                        </p>
                        <div class="request-body">
                            {{implementedRequest.future_content_description | safe}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<section class="pagination-section">
    <!-- Pagination 
        used this for help with the code:  https://stackoverflow.com/questions/74615456/how-to-add-pagination-in-django
        -->

    <div class="pagination">
        <span class="step-links">
            {% if reqs.has_previous %}
            <a href="?page=1" class="link"  aria-label="Redirects user to the first page">&laquo; first</a>
            <a href="?page={{ reqs.previous_page_number }}" class="link" aria-label="Redirects user to the previous page">previous</a>
            {% endif %}

            <span class="current">
                Page {{ reqs.number }} of {{ reqs.paginator.num_pages }}.
            </span>

            {% if reqs.has_next %}
            <a href="?page={{ reqs.next_page_number }}" class="link"  aria-label="Redirects user to the next page">next</a>
            <a href="?page={{ reqs.paginator.num_pages }}" class="link"  aria-label="Redirects user to the last page">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

<!-- future_content.html content ends here -->
{% endblock %}